@model System.Web.Mvc.HandleErrorInfo
    
@{
    ViewBag.Title = "404 - Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>404 Error</h1>
    <div class="errorPageMessage">
        <p class="lead">
            Sorry, the page could not be found 
        </p>
    </div>
</div>